.container {
  background-color: cornflowerblue;
  padding: 20px;
  height: 100vh;
}

.formWrapper {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formWrapper Form {
  display: flex;
  flex-direction: column;
}

.formWrapper Form * {
  margin-bottom: 5px;
  border-radius: 2px;
  border: none;
  height: 1.8em;
  padding: 3px;
}

.errorContainer {
  color: white;
  border: 1px dashed red;
  background-color: red;
  padding: 10px;
  margin: 10px;
}
